@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5EBF1;
}

a {
  text-decoration: none;
}

p, label {
  color: #154a70;
  font-family: "Roboto", "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica;
}

h1 {
  color: #A8C2DC;
}

ul {
  list-style-type: none;
}

hr {
  background-color: #154a70;
}

.loader-page {
  position: fixed;
  z-index: 25000;
  background: #E5EBF1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.loader-page::before {
  content: "";
  position: absolute;
  border: 2px solid rgba(241, 231, 255, 0.6745098039);
  width: 256px;
  height: 256px;
  padding: 4px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1.5s linear infinite;
  transform: rotate(0deg);
}
.loader-page::after {
  content: "";
  position: absolute;
  border: 2px solid #1A5784;
  width: 256px;
  height: 256px;
  padding: 4px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1.5s ease-out infinite;
  transform: rotate(0deg);
}
.loader-page img {
  width: 25%;
  height: 25%;
}

@keyframes rotarload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.agradecimiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 156px auto;
}
.agradecimiento img {
  width: 35%;
  margin-top: 32px;
}

.scroll-down header {
  transition: all 0.3s;
  transform: translateY(-128px);
}

.scroll-up header {
  transition: all 0.3s;
  transform: translateY(0);
}

header {
  width: 100%;
  text-align: center;
  background-color: #092E4C;
  height: 128px;
  position: fixed;
  top: 0;
  z-index: 10000;
}
@media only screen and (max-width: 992px) {
  header {
    width: 100%;
  }
}
header nav {
  background-color: #092E4C;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 64px;
}
header nav .nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 64px 28px 0px auto;
}
@media only screen and (min-width: 600px) {
  header nav .nav-button {
    display: none;
  }
}
header nav .nav-button span {
  display: inline-block;
  background-color: #154a70;
  width: 32px;
  height: 4px;
  margin: 4px auto;
  border-radius: 8px;
}
header nav img {
  height: 275%;
  margin: 64px 32px 0px auto;
  margin-left: 64px;
  margin-right: auto;
  z-index: 1;
}
@media only screen and (max-width: 415px) {
  header nav img {
    height: 250%;
    margin: 64px auto 0px 32px;
  }
}
header nav ul {
  background-color: #092E4C;
  display: flex;
  margin: auto 32px auto auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  header nav ul {
    margin: 0;
    flex-direction: column;
    justify-content: start;
    overflow-x: hidden;
    padding-top: 60px;
    width: 0;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: 0.6s;
    background-color: #092E4C;
  }
  header nav ul.active-canvas {
    box-shadow: 200px 0px 0px rgba(4, 26, 43, 0.5294117647);
  }
}
header nav ul li {
  display: inline-block;
  margin: 24px 24px 0px;
  font-size: 1rem;
}
header nav ul li.closebtn {
  position: absolute;
  top: 12px;
  right: 12px;
}
header nav ul li.closebtn a {
  text-decoration: none;
  font-size: 32px;
}
@media only screen and (min-width: 600px) {
  header nav ul li {
    margin-top: 32px;
  }
  header nav ul li.closebtn {
    display: none;
  }
}
header nav ul li a {
  display: inline;
  font-family: "Roboto", "Quicksand", sans-serif;
  color: #A8C2DC;
  text-decoration: underline;
  transition: 0.5s;
}
header nav ul li a:hover {
  color: #E5EBF1;
}
header nav ul li a:active {
  color: white;
}
header nav ul li a button {
  font-size: 1rem;
  background-color: #A8C2DC;
  border: 1px solid #1A5784;
  border-radius: 6px;
  width: 128px;
  height: 52px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #1A5784;
  transition: all 0.3s;
}
header nav ul li a button:hover {
  background-color: #ccdceb;
}
header nav ul li a button:active {
  background-color: #f1f5f9;
}

#main {
  padding: 16px;
}

main {
  margin: 156px 0px;
  width: 90%;
}
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    margin: 98px 0px;
  }
}
main .nombreSeccion {
  text-align: center;
  font-size: 1.6rem;
  color: #154a70;
}
@media only screen and (max-width: 600px) {
  main .nombreSeccion {
    text-align: start;
  }
}
main .nombreSeccion span {
  margin-left: 20%;
}
@media only screen and (max-width: 600px) {
  main .nombreSeccion span {
    margin-left: 8px;
  }
}
main .nombreSeccion hr {
  width: 60%;
  margin: auto 32px;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  main .nombreSeccion hr {
    margin: auto auto auto 24px;
    width: 40%;
  }
}
main section:first-child {
  display: flex;
  margin: 64px auto 256px auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  main section:first-child {
    margin: 64px auto 256px 12px;
    width: 100%;
  }
}
main section:first-child h1 {
  font-size: 3rem;
}
main section:first-child h2 {
  color: #1A5784;
  font-size: 2.5rem;
}
main section:first-child p {
  font-size: 1.6rem;
  color: #14466a;
}
main section:first-child p, main section:first-child h1, main section:first-child h2 {
  margin: 4px 0px;
}
@media only screen and (max-width: 600px) {
  main section:first-child p, main section:first-child h1, main section:first-child h2 {
    margin: 4px;
  }
}
main section:first-child h1, main section:first-child h2 {
  padding-left: 16px;
}
@media only screen and (max-width: 600px) {
  main section:first-child h1, main section:first-child h2 {
    padding-left: 8px;
  }
}
main section:first-child p:last-child {
  padding-left: 12px;
  padding-top: 2px;
}
@media only screen and (max-width: 600px) {
  main section:first-child p:last-child {
    padding-left: 8px;
  }
}
main section:nth-child(2) p {
  width: 55%;
  font-size: 1.2rem;
  margin: 38px auto;
  padding-left: 126px;
  color: #14466a;
  line-height: 30px;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(2) p {
    width: 100%;
    padding-left: 12px;
  }
}
main section:nth-child(2) ul {
  list-style-type: none;
}
main section:nth-child(2) ul li {
  color: #14466a;
}
main section:nth-child(2) ul li p i {
  margin: auto 8px;
  height: 12px;
}
main section:nth-child(2) p:last-child span {
  display: inline-block;
  margin: auto 32px 0px auto;
  color: rgba(21, 74, 112, 0.25);
}
main section:nth-child(2) p:last-child button {
  margin-top: 128px;
  font-size: 1rem;
  background-color: #A8C2DC;
  border: 1px solid #1A5784;
  border-radius: 6px;
  width: 70%;
  height: 52px;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #1A5784;
  cursor: pointer;
  transition: all 0.25s;
}
main section:nth-child(2) p:last-child button:hover {
  background-color: #ccdceb;
  color: #2273af;
}
main section:nth-child(2) p:last-child button:active {
  background-color: #f1f5f9;
  color: #2e8fd6;
}
main section:nth-child(3) .card > button:first-child {
  margin: 24px;
  background-color: transparent;
  border: 2px solid #154a70;
  border-radius: 24px;
  color: #154a70;
  display: inline-block;
  width: fit-content;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card > button:first-child {
    margin: 42px auto 0 12px;
  }
}
@media only screen and (max-height: 950px) {
  main section:nth-child(3) .card > button:first-child {
    margin: 8px auto 0 12px;
  }
}
main section:nth-child(3) .card > button:first-child span {
  display: inline-block;
  padding: 6px;
  font-size: 1.2rem;
}
main section:nth-child(3) .card strong, main section:nth-child(3) .card h3 {
  color: #1A5784;
  font-size: 2rem;
  font-family: "Roboto Flex", sans-serif;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card strong, main section:nth-child(3) .card h3 {
    font-size: 1.6rem;
    margin-top: 42px;
  }
}
@media only screen and (max-height: 950px) {
  main section:nth-child(3) .card strong, main section:nth-child(3) .card h3 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}
main section:nth-child(3) .card h3 {
  margin-left: 32px;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card h3 {
    text-align: center;
    margin-left: 0;
  }
}
main section:nth-child(3) .card > p {
  font-size: 1.4rem;
  color: #14466a;
  margin: 32px 128px 32px 32px;
  margin-right: 128px;
  margin-left: 32px;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card > p {
    font-size: 1.2rem;
    margin: 42px 0;
  }
}
@media only screen and (max-height: 950px) {
  main section:nth-child(3) .card > p {
    margin: 12px 0;
  }
}
main section:nth-child(3) .card .card-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 32px;
  margin-top: 32px;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card .card-footer {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 24px 0;
  }
}
main section:nth-child(3) .card .card-footer li {
  margin: auto 8px;
}
@media only screen and (max-widht: 600px) {
  main section:nth-child(3) .card .card-footer li {
    margin: auto;
  }
}
main section:nth-child(3) .card .card-footer li a {
  all: unset;
  font-size: 32px;
  text-align: center;
}
main section:nth-child(3) .card .card-footer li a button {
  margin: 24px auto;
  font-size: 1rem;
  border-radius: 6px;
  width: 156px;
  height: 64px;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #1A5784;
  transition: all 0.25s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card .card-footer li a button {
    margin: 24px auto;
    font-size: 0.8rem;
    border-radius: 6px;
    width: 108px;
    height: 48px;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #1A5784;
    transition: all 0.25s;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
}
main section:nth-child(3) .card .card-footer li a button.github {
  color: rgb(29, 29, 29);
  background-color: rgb(223, 223, 223);
}
main section:nth-child(3) .card .card-footer li a button.github:hover {
  color: rgb(223, 223, 223);
  background-color: rgb(29, 29, 29);
}
main section:nth-child(3) .card .card-footer li a button.github:active {
  color: #f9f9f9;
  background-color: #373737;
}
main section:nth-child(3) .card .card-footer li a button.laptop {
  color: #E5EBF1;
  background-color: #1A5784;
}
main section:nth-child(3) .card .card-footer li a button.laptop:hover {
  color: #1A5784;
  background-color: #E5EBF1;
}
main section:nth-child(3) .card .card-footer li a button.laptop:active {
  color: #2273af;
  background-color: white;
}
main section:nth-child(3) .card .card-footer li a button.figma {
  color: #3d3e90;
  background-color: #FD3258;
}
main section:nth-child(3) .card .card-footer li a button.figma:hover {
  color: #FD3258;
  background-color: #3d3e90;
}
main section:nth-child(3) .card .card-footer li a button.figma:active {
  color: #fd6581;
  background-color: #4d4eb3;
}
main section:nth-child(3) .card .card-footer li a button span {
  display: inline-block;
  transition: all 0.5s;
  width: 100%;
}
main section:nth-child(3) .card .card-footer li a button span:not(.bi) {
  margin: 12px auto;
}
main section:nth-child(3) .card .card-footer li a button .bi {
  font-size: 48px;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card .card-footer li a button .bi {
    font-size: 36px;
  }
}
main section:nth-child(3) .card > .list-lenguajes {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card > .list-lenguajes {
    margin-left: 0;
    justify-content: space-around;
  }
}
main section:nth-child(3) .card > .list-lenguajes ul:first-child {
  margin-left: 12px;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card > .list-lenguajes ul:first-child {
    margin-left: 0;
  }
}
main section:nth-child(3) .card > .list-lenguajes ul:nth-child(2) {
  margin-left: 128px;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card > .list-lenguajes ul:nth-child(2) {
    margin-left: 0;
  }
}
main section:nth-child(3) .card > .list-lenguajes ul li {
  margin-top: 8px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  main section:nth-child(3) .card > .list-lenguajes ul li {
    font-size: 1rem;
  }
}

.conteudo-geral {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 80px 70px;
}
@media only screen and (max-width: 415px) {
  .conteudo-geral {
    overflow-x: scroll;
    padding: 60px 12px;
  }
  .conteudo-geral.caixa-conteudo-ativo {
    overflow-x: hidden;
  }
}
@media only screen and (max-height: 750px) {
  .conteudo-geral {
    height: 126vh;
  }
}

.componente-interno-geral {
  position: relative;
  height: 100%;
}

.componente-interno-geral:hover .componente-fundo-imagem:after {
  opacity: 1;
}

.componente {
  position: absolute;
  left: 0;
  top: 0;
  width: 44.2%;
  height: 100%;
  background: #E5EBF1;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  will-change: transform, width, opacity;
}
@media only screen and (max-width: 415px) {
  .componente {
    width: 80%;
    scroll-snap-type: proximity;
    scroll-snap-align: center;
  }
}

.componente:not(.caixa-conteudo-ativo) {
  cursor: pointer;
}

.componente-sem-rolagem {
  overflow: hidden;
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 415px) {
  .componente-sem-rolagem {
    width: 100%;
  }
}

.componente-interno {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 1s;
}

@media only screen and (max-width: 415px) {
  .conteudo-geral.componente.caixa-conteudo-ativo .componente-interno {
    width: 0;
  }
}

.conteudo-geral.js-conteudo-geral .componente-interno {
  transform: translate3d(0, 100%, 0);
}

.componente-fundo-imagem {
  position: relative;
  height: 100%;
  transition: transform 0.6s 0.7s;
  opacity: 0.5;
  will-change: transform;
}

.conteudo-geral.caixa--componente-ativo .componente-fundo-imagem {
  width: calc(100vw - 140px);
}
@media only screen and (maw-width: 415px) {
  .conteudo-geral.caixa--componente-ativo .componente-fundo-imagem {
    width: 100vw;
  }
}

.componente-fundo-imagem:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  transition: transform 1s;
  transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (max-width: 415px) {
  .componente-fundo-imagem:before {
    width: 130%;
  }
}

.conteudo-geral.js-conteudo-geral .componente-fundo-imagem:before {
  transform: translate3d(0, -100%, 0) scale(1.2);
}

.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition: transform 0.8s;
}

.componente-fundo-imagem:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(126, 162, 197, 0.7450980392);
  opacity: 0;
  transition: opacity 0.5s;
}
@media only screen and (max-width: 415px) {
  .componente-fundo-imagem:after {
    width: 131%;
    height: 110%;
  }
}

.conteudo-geral.caixa--componente-ativo .componente-fundo-imagem:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}

.componente-visual-inicial {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s;
}

.conteudo-geral.js-conteudo-geral .componente-visual-inicial {
  opacity: 0;
  transform: translateY(10px);
}

.conteudo-geral.caixa--componente-ativo .componente-visual-inicial {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s;
}
@media only screen and (max-width: 415px) {
  .conteudo-geral.caixa--componente-ativo .componente-visual-inicial {
    width: 0;
  }
}

.componente-titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}

.componente-content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
}

.componente.caixa-conteudo-ativo .componente-content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s;
}

.componente-text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}

.componente-botao-fechar {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .componente-botao-fechar {
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
  }
}
.componente-botao-fechar::after, .componente-botao-fechar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  transition: opacity 0s;
}
.componente-botao-fechar::before {
  transform: rotate(45deg) translateX(100%);
}
.componente-botao-fechar::after {
  transform: rotate(-45deg) translateX(100%);
}

.componente.caixa-conteudo-ativo .componente-botao-fechar {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s;
}
.componente.caixa-conteudo-ativo .componente-botao-fechar::before, .componente.caixa-conteudo-ativo .componente-botao-fechar::after {
  opacity: 1;
}
.componente.caixa-conteudo-ativo .componente-botao-fechar::before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(45deg) translateX(0);
}
.componente.caixa-conteudo-ativo .componente-botao-fechar::after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(-45deg) translateX(0);
}

.componente-index {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: center;
  font-size: 6vw;
  line-height: 0.85;
  font-weight: bold;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transform: translate3d(0, 1vw, 0);
}
@media only screen and (max-width: 600px) {
  .componente-index {
    font-size: 18vW;
  }
}

.componente:hover .componente-index {
  transform: translate3d(0, 0, 0);
}

.conteudo-geral.caixa--componente-ativo .componente-index {
  transition: transform 0.5s, opacity 0.3s;
  opacity: 0;
}
@media only screen and (max-width: 415px) {
  .conteudo-geral.caixa--componente-ativo .componente-index {
    width: 0;
  }
}

.componente-index-back,
.componente-index-front {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.componente-index-back {
  color: #455d72;
  opacity: 0;
  transition: opacity 0.25s 0.25s;
}

.componente:hover .componente-index-back {
  transition: opacity 0.25s;
  opacity: 1;
}

.componente-index-overlay {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s 0.1s;
  color: transparent;
}

.componente-index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.5s 0.1s;
}

.componente:hover .componente-index-overlay {
  transform: translate3d(0, 0, 0);
}

.componente:hover .componente-index-overlay:before {
  transform: translate3d(0, 0, 0);
}

.conteudo-geral.caixa--componente-ativo .componente:nth-child(1):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}

.componente:nth-child(1) {
  transform: translate3d(0%, 0, 0);
}
.componente:nth-child(1) .componente-interno {
  transition-delay: 0s;
}
.componente:nth-child(1) .componente-fundo-imagem::before {
  transition-delay: 0s;
  background: no-repeat center/200% url("../multimedia/fotos/ProyectoFreaks3D.png");
}
.componente:nth-child(1).caixa-conteudo-ativo .componente-fundo-imagem:before {
  background: no-repeat center/100% url("../multimedia/fotos/ProyectoFreaks3D.png");
}
@media only screen and (max-width: 600px) {
  .componente:nth-child(1).caixa-conteudo-ativo .componente-fundo-imagem:before {
    background: no-repeat center/200% url("../multimedia/fotos/ProyectoFreaks3D.png");
  }
}

.conteudo-geral.caixa--componente-ativo .componente:nth-child(2):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}

.componente:nth-child(2) {
  transform: translate3d(105.2083333333%, 0, 0);
}
.componente:nth-child(2) .componente-interno {
  transition-delay: 0.1s;
}
.componente:nth-child(2) .componente-fundo-imagem::before {
  transition-delay: 0.1s;
  background: no-repeat center/200% url("../multimedia/fotos/ProyectoQuality.png");
}
.componente:nth-child(2).caixa-conteudo-ativo .componente-fundo-imagem:before {
  background: no-repeat center/100% url("../multimedia/fotos/ProyectoQuality.png");
}
@media only screen and (max-width: 600px) {
  .componente:nth-child(2).caixa-conteudo-ativo .componente-fundo-imagem:before {
    background: no-repeat center/200% url("../multimedia/fotos/ProyectoQuality.png");
  }
}

.conteudo-geral.caixa--componente-ativo .componente:nth-child(3):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}

.componente:nth-child(3) {
  transform: translate3d(210.4166666667%, 0, 0);
}
.componente:nth-child(3) .componente-interno {
  transition-delay: 0.2s;
}
.componente:nth-child(3) .componente-fundo-imagem::before {
  transition-delay: 0.2s;
  background: no-repeat center/200% url("../multimedia/LandingQualityDestkopx.png");
}
.componente:nth-child(3).caixa-conteudo-ativo .componente-fundo-imagem:before {
  background: no-repeat center/100% url("../multimedia/LandingQualityDestkopx.png");
}
@media only screen and (max-width: 600px) {
  .componente:nth-child(3).caixa-conteudo-ativo .componente-fundo-imagem:before {
    background: no-repeat center/200% url("../multimedia/LandingQualityDestkopx.png");
  }
}

.componente.caixa-conteudo-ativo {
  z-index: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}

.componente.caixa-conteudo-ativo .componente-fundo-imagem {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s;
}

.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition-delay: 0.6s;
  transform: scale(1.1);
}

aside {
  position: fixed;
  top: 156px;
  right: 64px;
  bottom: 300px;
}
@media only screen and (max-width: 600px) {
  aside {
    position: relative;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 32px;
  }
}
aside nav {
  height: 64px;
}
aside nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  aside nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 0;
  }
}
aside nav ul li {
  width: 42px;
  height: 42px;
  margin: 12px 8px;
  text-align: center;
}
aside nav ul li:last-child {
  border: none;
  width: fit-content;
  height: fit-content;
}
@media only screen and (max-width: 600px) {
  aside nav ul li:last-child {
    display: none;
    width: 0;
  }
}
aside nav ul li a {
  font-size: 24px;
  padding: 8px;
  text-align: center;
  padding: 8px;
}
aside nav ul li a span {
  border-radius: 50%;
  color: #14466a;
  border: 3px solid #14466a;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside nav ul li a .bi-github:hover {
  color: rgb(234, 234, 234);
  border-color: rgb(234, 234, 234);
}
aside nav ul li a .bi-linkedin:hover {
  color: rgb(51, 101, 200);
  border-color: rgb(51, 101, 200);
}
aside nav ul li a .bi-envelope:hover {
  color: #b73f3f;
  border-color: #b73f3f;
}
aside nav ul li a .bi-whatsapp:hover {
  color: rgb(67, 119, 74);
  border-color: rgb(67, 119, 74);
}
aside nav ul li hr {
  position: relative;
  top: 12px;
  height: 600px;
  margin: 30px 20px;
  display: inline-block;
  color: #14466a;
  background-color: #14466a;
}

footer .nombreSeccion {
  text-align: center;
  font-size: 1.6rem;
  color: #154a70;
}
@media only screen and (max-width: 600px) {
  footer .nombreSeccion {
    text-align: start;
  }
}
footer .nombreSeccion span {
  margin-left: 20%;
}
@media only screen and (max-width: 600px) {
  footer .nombreSeccion span {
    margin-left: 16px;
  }
}
footer .nombreSeccion hr {
  width: 55%;
  margin: auto 32px;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  footer .nombreSeccion hr {
    margin: auto auto auto 24px;
    width: 25%;
  }
}
footer h2 {
  margin-bottom: 12px;
}
footer nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 52px;
}
@media only screen and (max-width: 600px) {
  footer nav {
    margin-bottom: 24px;
  }
}
footer nav > a {
  all: unset;
}
footer nav > a > button {
  margin: 24px auto;
  font-size: 1rem;
  border: 1px solid #1A5784;
  border-radius: 6px;
  width: 300px;
  height: 64px;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #1A5784;
  transition: all 0.5s;
  background-color: #21bd5c;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
footer nav > a > button span {
  display: inline-block;
  margin: 4px auto 4px 64px;
}
footer nav > a > button img {
  height: 48px;
  margin: auto 12px;
}
footer nav > a > button:hover {
  background-color: #4be083;
}
footer nav > a > button:active {
  background-color: #77e7a1;
}
footer nav > button {
  margin: 24px auto;
  font-size: 1rem;
  border: 1px solid #1A5784;
  border-radius: 6px;
  width: 300px;
  height: 64px;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #1A5784;
  transition: all 0.5s;
  background-color: #B53328;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
footer nav > button:hover {
  background-color: #d4483c;
}
footer nav > button:active {
  background-color: #dd6f66;
}
footer nav > button img {
  height: 48px;
}
footer nav > button span {
  display: inline-block;
  margin: 4px auto 4px 64px;
}
footer nav > span {
  display: inline-block;
  margin: 4px auto;
  color: transparent;
  font-family: "Roboto Flex", sans-serif;
  transition: all 0.8s ease-in-out;
  transform: translateY(-54px);
}
footer nav > span.copiado {
  transform: translateY(0px);
  color: #154a70;
  transition: all 0.8s;
}

/*# sourceMappingURL=style.css.map */
