@import "base/vars";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nombreSeccion{
    text-align: center;
    font-size: $f-small;
    color: $parrafos;
    span{
        margin-left: 20%;
    }
    hr{
        width: 60%;
        margin: auto 32px;
        display: inline-block;
    }
}

body{
    background-color: $fondo;
}
a{
    text-decoration: none
}
p,label{
    color: $parrafos;
    font-family: $font-texto;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-boton;
}
h1{
    color: nth($colores, 1 )
}
ul{
    list-style-type: none;
}
hr{
    background-color: $parrafos
}
@import "main/consulta";
@import "main/header";
@import "main/main";
@import "main/projects";
@import "main/aside";
@import "main/footer";
