.card{
        >button:first-child{
            margin:24px ; 
            background-color: transparent;
            border: 2px solid $parrafos;
            border-radius: 24px;
            color: $parrafos;
            display: inline-block;
            width: fit-content;
            span{
                display: inline-block;
                padding: 6px;
                font-size: $f-tiny+0.2
            }
        }
        .componente-boton-cerrar{
            z-index: -1;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 60px;
            height: 60px;
            opacity: 0;
            pointer-events: none;
            transition: all 0s 0.45s;
            cursor: pointer;
            &::before{
                transform: rotate(45deg) translateX(100%);
            }
            &::after{
                transform: rotate(-45deg) translateX(100%);
            }
            &::before,&::after{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 8px;
                margin-top: -4px;
                background: $parrafos;
                opacity: 0;
                transition: opacity 0s;
            }
        }
        strong,h3{
            color:nth($colores, 2 );
            font-size: $f-regular;
            font-family: $font-H;
        }
        h3{
            margin-left: 32px;
        }
        >p{
            font-size: $f-small - 0.2;
            color: darken($parrafos ,1.5%);
            margin: 32px 128px 32px 32px;
            margin-right: 128px;
            margin-left: 32px;
            @media only screen and (max-width:600px){
                font-size: $f-tiny+0.2;
                margin: 12px 0;
            }
        }
        div,.card-footer{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            >ul{
                margin: 24px 64px;
            }
            @media only screen and (max-width: 600px){
                justify-content: flex-start;
                margin: 0;
            }
        }
        >.list-lenguajes{
            margin-right: 32px;
            ul{
                li{
                    margin-top: 8px;
                    font-size:$f-tiny + 0.2 ;
                }

            }
        }
        .card-footer{
            li{
                width: 42px;
                height: 42px;
                margin: auto 8px;
                a{
                    font-size: 28px;
                    text-align: center;
                    
                    span{
                        border-radius: 50%;
                        color: nth($colores,2) ;
                        border:3px solid nth($colores,2);
                        transition: all .5s;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .bi-github:hover{
                        color: rgb(234, 234, 234);
                        border-color: rgb(234, 234, 234);
                    }
                    .bi-laptop:hover{
                        color: lighten(nth($colores,2), 20%);
                        border-color: lighten(nth($colores,2), 20%);
                    }
                    .bi-diagram-3:hover{
                        color:rgb(119, 67, 67);
                        border-color: rgb(119, 67, 67);
                    }
                    
                }
            }
        }
    }


    