@import "../partials/mixin";
footer{
    .nombreSeccion{
        text-align: center;
        font-size: $f-small;
        color: $parrafos;
        @media only screen and (max-width:600px){
            text-align: start;
        }
        span{
            margin-left: 20%;
            @media only screen and (max-width:600px){
                margin-left: 16px;
            }
        }
        hr{
            width: 55%;
            margin: auto 32px;
            display: inline-block;
            @media only screen and (max-width:600px){
                margin: auto auto auto 24px;
                width: 25%;
            }
        }
    }
    h2{
        margin-bottom: 12px;
    }
    nav{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
        margin-top: 52px;
        @media only screen and (max-width:600px){
            margin-bottom: 24px;
        }
        >a{
            all:unset;
            >button{
                @include btn-contact(darken(#25D366, 5%)); 
                span{
                    display: inline-block;
                    margin: 4px auto 4px 64px;
                }
                img{
                    height: 48px;
                    margin: auto 12px;
                }
                &:hover{
                    background-color: lighten(#25D366, 10%);
                }
                &:active{
                    background-color: lighten(#25D366, 20%);
                }
            }    
        }
        >button{
            @include btn-contact(#B53328);
            &:hover{
                background-color: lighten(#B53328, 10%);
            }
            &:active{
            background-color: lighten(#B53328, 20%);
            }
            
            img{
                height: 48px;
            }
            span{
                display: inline-block;
                margin: 4px auto 4px 64px;
            }
        }
        >span{
            display: inline-block;
            margin: 4px auto;
            color: transparent;
            font-family:$font-H ;
            transition: all .8s ease-in-out;
            transform: translateY(-54px);
            &.copiado{
                transform: translateY(0px);
                color: $parrafos;
                transition: all .8s;
            }
        }
    }
}