header{
    nav{
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 64px;
        img{
            height: 250%;
            margin-left: 64px;
            margin-right: auto;
        }
        ul{
            display:flex ;
            margin:auto 64px auto auto;
            flex-direction: row;
            justify-content: space-evenly; 
            align-items: center;
            li{
                display: inline-block;
                margin: 24px 24px 0px;
                font-size: $f-tiny;
                a{
                    display: inline;
                    font-family: $font-texto;
                    color: $parrafos;
                    text-decoration:underline;
                    button{
                        font-size: $f-tiny;
                        background-color: $fondo-botones;
                        border: 1px solid $borde-botones;
                        border-radius: 6px;
                        width: 128px;
                        height: 52px;
                        font-family: $font-H;
                        font-weight: 400;
                        color: $borde-botones

                    }
                }
            }
        }
        
    }
}