
.scroll-down{
    header{
        transition: all .3s;
        transform: translateY(-128px);
    }
}
.scroll-up{
    header{
        transition: all .3s;
        transform: translateY(0);
    }
}
header{
    max-width: 1485px;
    text-align: center;
    background-color: $fondo-offcanvas;
    height: 128px;
    position: fixed;
    top:0;
    z-index: 10000;
    @media only screen and (max-width:992px){
        width: 100%;
    }
    nav{
        background-color: $fondo-offcanvas;
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 64px;
        .nav-button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            margin: 64px 28px 0px auto;
            @media only screen and (min-width:600px){
                display: none;
            } 
            span{
                display: inline-block;
                background-color: $parrafos;
                width: 32px;
                height: 4px;
                margin: 4px auto;
                border-radius: 8px;

            }
        }
    
        img{
            height: 275%;
            margin: 64px 32px 0px auto;
            margin-left: 64px;
            margin-right: auto;
            z-index: 1;
            @media only screen and (max-width:415px){
                height: 250%;
                margin: 64px auto 0px 32px;
            }
        }
        ul{
            // Aca hay un error, cuando se abre el offcanvas con el navbar
            // Mientras esta con algun scroll, no se abre entero.
            background-color: $fondo-offcanvas;
            display:flex ;
            margin:auto 32px auto auto;
            flex-direction: row;
            justify-content: space-evenly; 
            align-items: center;
            @media only screen and (max-width:600px){
                margin: 0;
                flex-direction: column;
                justify-content: start;
                overflow-x: hidden;
                padding-top: 60px;
                width: 0;
                z-index: 10000;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                transition: .6s;
                background-color: $fondo-offcanvas;
                &.active-canvas{
                    box-shadow: 200px 0px 0px $offcanvas-shadow;
                }   
            }
            li{
                display: inline-block;
                margin: 24px 24px 0px;
                font-size: $f-tiny;
                &.closebtn{
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    a{
                        text-decoration: none;
                        font-size: 32px;
                    }
                }
                @media only screen and (min-width:600px){
                    margin-top: 32px;
                    &.closebtn{
                        display: none;
                    } 
                }
                a{
                    display: inline;
                    font-family: $font-texto;
                    color: $fondo-botones;
                    text-decoration:underline;
                    transition: .5s;
                    &:hover{
                        color:$fondo ;
                    }
                    &:active{
                        color:lighten($fondo, 10%) ;
                    }
                    button{
                        font-size: $f-tiny;
                        background-color: $fondo-botones;
                        border: 1px solid $borde-botones;
                        border-radius: 6px;
                        width: 128px;
                        height: 52px;
                        font-family: $font-H;
                        font-weight: 400;
                        color: $borde-botones;
                        transition: all .3s;
                        &:hover{
                            background-color: lighten($fondo-botones, 10%) ;
                        }
                        &:active{
                            background-color: lighten($fondo-botones, 20%) ;
                        }
                    }
                }
            }
        }
        
    }
}
#main{
     padding: 16px;
}