main{
    margin: 156px 0px;
    width: 90%;
    @media only screen and (max-width:600px){
        width: 100%;
        margin: 98px 0px;
    }
    .nombreSeccion{
        text-align: center;
        font-size: $f-small;
        color: $parrafos;
        @media only screen and (max-width:600px){
            text-align: start;
        }
        span{
            margin-left: 20%;
            @media only screen and (max-width:600px){
                margin-left: 8px;
            }
        }
        hr{
            width: 60%;
            margin: auto 32px;
            display: inline-block;
            @media only screen and (max-width:600px){
                margin: auto auto auto 24px;
                width: 40%;
            }
        }
    }
    section:first-child{
        display: flex;
        margin: 64px auto 256px auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
        @media only screen and (max-width:600px){
            margin: 64px auto 256px 12px;
            width: 100%;
        }
        h1{
            font-size: $f-bold;
        }
        h2{
            color: nth($colores, 2 );
            font-size: $f-big;
        }
        p{
            font-size: $f-small;
            color: darken($parrafos ,1.5%);
        }
        p,h1,h2{
            margin: 4px 0px;
            @media only screen and (max-width:600px){
                margin: 4px;
            }
        }
        h1,h2{
            padding-left:16px ;
            @media only screen and (max-width:600px){
                padding-left: 8px;
            }
        }
        p:last-child{
            padding-left: 12px;
            padding-top: 2px;
            @media only screen and (max-width:600px){
                padding-left: 8px;
            }
        }
    }
    section:nth-child(2){
        p{
            width: 55%;
            font-size: $f-tiny+0.2;
            margin: 38px auto;
            padding-left: 126px;
            color: darken($parrafos ,1.5%);
            line-height:30px;
            @media only screen and (max-width:600px){
                width: 100%;
                padding-left: 12px;
            }
        }
        ul{
            list-style-type: none;
            li{
                color: darken($parrafos, 1.5%);
                p{
                    i{
                        margin: auto 8px;
                        height: 12px;
                    }
                }
            }
        }
        p:last-child{
           span{
                display: inline-block;
                margin: auto 32px 0px auto;
                color: transparentize($parrafos, .75);
            }
            button{
                margin-top: 128px;
                font-size: $f-tiny;
                background-color: $fondo-botones;
                border: 1px solid $borde-botones;
                border-radius: 6px;
                width: 70%;
                height: 52px;
                padding: 0;
                font-family: $font-H;
                text-align: center;
                font-weight: 400;
                color: $borde-botones;
                cursor: pointer;
                transition: all .25s;
                &:hover{
                    background-color: lighten($fondo-botones, 10%);
                    color:lighten($borde-botones, 10%);
                }
                &:active{
                    background-color: lighten($fondo-botones, 20%);
                    color:lighten($borde-botones, 20%);
                }
            }
        }
    }
    section:nth-child(3){
        @import "cards";
    }
}