
$distance:105.20833333333%;
$transform-origin:50%;
$images:"../multimedia/Freaks3DPersoDestkop.png","../multimedia/LandingQualityDestkop.png","../multimedia/LandingQualityDestkopx.png","../multimedia/Freaks3DPersoDestkop.png","../multimedia/Freaks3DPersoDestkop.png";
$base-delay:0s;


 @for $i from 1 through 3{
    .conteudo-geral.caixa--componente-ativo .componente:nth-child(#{$i}):not(.caixa-conteudo-ativo) {
    transform: scale(0.5) translate3d( #{$distance *($i - 1)}, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
    }
    .componente:nth-child(#{$i}){
        transform: translate3d(#{($i - 1)*$distance},0,0);
        .componente-interno{
            transition-delay:$base-delay ;
        }
        .componente-fundo-imagem{
            &::before{
                transition-delay: $base-delay;
                background-image: url(nth($images,$i));
            }
        }

    }
    $base-delay:$base-delay + 0.1s;
}
.componente.caixa-conteudo-ativo {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  }
  .componente.caixa-conteudo-ativo .componente-fundo-imagem {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s;
  }
  .componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
    transition-delay: 0.6s;
    transform: scale(1.1);
  }