
$distance:105.20833333333%;
$transform-origin:50%;
$images:"../../multimedia/Freaks3DPersoDestkop.png","../../multimedia/LandingQualityDestkop.png","../../multimedia/LandingQualityDestkopx.png";
$base-delay:0s;


@for $i from 1 through 3{
    .contenido-general.caixa--componente-ativo{
        .card:nth-child(#{$i}):not(.caixa-conteudo-ativo){
            transform: scale(0.5) translate3d(#{($i - 1)*$distance}, 0, 0);
            opacity: 0;
            transition: transform 0.95s, opacity 0.95s;
    }
}
    .card:nth-child(#{$i}){
        transform: translate3d(#{($i - 1)*$distance} ,0,0);
        transform-origin: #{($i - 1)*$distance+$transform-origin},50%;
        .componente-interno{
            @for $j from 0 to $i - 1 {
                $base-delay:$base-delay + 0.1;
            }
            transition-delay:#{$base-delay}s  ;
            $base-delay:0;
            .componente-fondo-imagen{
                transform:translate3d(0%,0,0);
                &::before{
                    transition-delay:#{$base-delay};
                    background-image:  url(nth($images,$i)) ;
                }
            }
        }
    }
    $base-delay:$base-delay + 0.1;
}

.card:hover{
    .componente-fondo-imagen::after{
        opacity: 0;
    }
}
