$fondo-cartas : #7ea2c5be;
$offcanvas-shadow:#041a2b87;
$fondo:#E5EBF1;
$fondo-offcanvas:#092E4C;
$colores:#A8C2DC,#1A5784;
$parrafos:#154a70;
$h2:darken(#A8C2DC,5%) ;
$fondo-botones:#A8C2DC;
$borde-botones:#1A5784;
$fondo-inputs:#E5EBF1be;
$font-boton:Helvetica;
$font-texto:'Roboto','Quicksand',sans-serif;
$font-H:'Roboto Flex', sans-serif;




$f-tiny:1rem;
$f-small:1.6rem;
$f-regular:2rem;
$f-big:2.5rem;
$f-bold:3rem;

@media only screen and (max-width:600px){
    $f-tiny:1rem - .4;
    $f-small:1.6rem - .4;
    $f-regular:2rem - .4;
    $f-big:2.5rem - .6;
    $f-bold:3rem - .6;
}